@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS (e.g., src/global.css) */
.two-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit the text to 2 lines */
  -webkit-box-orient: vertical;
  @apply overflow-hidden text-ellipsis whitespace-normal;
}
